<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--更新包下载地址，注意要是zip-->
    <add key="Url" value="https://github.com/zhouyilong/GenerateProgrammeCode/archive/v1.0.zip"/>
    <!--更新完毕是否启动-->
    <add key="StartAfterUpdate" value="true"/>

  </appSettings>

</configuration>